
body {
  background-color: #fde7df;
  font-family: Arial, sans-serif;
}


p {
  color: #4b2c1a; 
}


.destaque {
  font-weight: bold;
  color: #a1331b; 
}


#titulo-principal {
  color: #a1331b;
  text-align: center;

}


a {
  color: #4b2c1a;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav li {
  font-weight: bold;
}


.imagem-container {
  position: relative;
  width: fit-content;
  margin: 30px auto;
}


.imagem-container img {
  max-width: 100%;
  height: auto;
  display: block;
  filter: brightness(70%) blur(1px); /* escurece a imagem */
}



.texto-sobre-imagem {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
  text-shadow: 1px 1px 4px black;
  max-width: 80%;
}


.texto-sobre-imagem h2 {
  font-size: 28px;
  margin: 0 0 10px 0;
  line-height: 1.3;
}

.texto-sobre-imagem p {
  font-size: 16px;
  margin: 5px 0;
}

.formularios {
  text-align: center;
  border: 2px solid #a1331b;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
}

header {
  text-align: center;

}

.container {
text-align: center;
background-color: antiquewhite;
display: flex;
justify-content: center;


}

.container ul {
display: flex;

list-style: none;
padding: 0;
margin: 0;


}

.container li {
  margin: 0 15px;
  padding: 15px 20px;
  display: block;
}

.agenda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.agenda-item {
    background-color: #E4E4E4;

}